{% extends "base.html" %}

{% block content %}
    <h2 class="sub-header">{{ supplier.name }}</h2>

    <div style="color: #428bca">

        <div class="form-group">
            <label  class="col-sm-2 control-label" >Name:</label>
            <span >{{ supplier.name }}</span>
        </div>
        <div class="form-group">
            <label  class="col-sm-2 control-label" >Phone:</label>
            <span >{{ supplier.phone }}</span>
        </div>
        <div class="form-group">
            <label  class="col-sm-2 control-label" >Email:</label>
            <span >{{ supplier.email }}</span>
        </div>

    </div>



{% endblock %}

