<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>MiniERP</title>

    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/bootstrap-table.css" rel="stylesheet"/>
    <link href="/static/css/dashboard.css" rel="stylesheet">

    <script src="/static/js/jquery-1.10.2.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/bootstrap-table.js"></script>

</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">MiniERP</a>
        </div>
        <div class="navbar-collapse collapse">
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">

        <div class="col-sm-3 col-md-2 sidebar" style="display:block;">
            <ul class="nav nav-sidebar">

                <li id="index"><a href="/index">Home</a></li>
                <li id="product_list"><a href="/product/list/">Product</a></li>
                <li id="customer_list"><a href="/customer/list/">Customer</a></li>
                <li id="supplier_list"><a href="/supplier/list/">Supplier</a></li>
                <li id="purchase_list"><a href="/purchase/list/">Purchase</a></li>
                <li id="stock"><a href="/stock/">Stock</a></li>

            </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            {% block content %}
            {% endblock %}

        </div>
    </div>
</div>


{% block script %}
{% endblock %}

</body>
</html>
